<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @users_announcement.user_id %>
</p>

<p>
  <b>Announcement:</b>
  <%= @users_announcement.announcement_id %>
</p>

<p>
  <b>Dismiss date:</b>
  <%= @users_announcement.dismiss_date %>
</p>


<%= link_to 'Edit', edit_users_announcement_path(@users_announcement) %> |
<%= link_to 'Back', users_announcements_path %>
