<div class="discussion-box">
  <div class="discussion-padding">
    <h2><span class="arrow"></span><a href="#" id="add">Start a New Discussion</a></h2>
<%= form_for(@discussion, :id=>"discussion", :remote => true) do |f| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this discussion from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :webpage_id, :value => @webpage.id%><!--@webpage id from webpage show action-->

    <%= f.text_area :title, :class => "txt1", :size => "40x1", :value => "Insert Title Here..."%>
    <%= f.text_area :content, :class => "txt2", :size => "40x4", :value => "Type your discussion..." %>

  <br />
  <%if false%>
    <%= f.label :active %>
    <%= f.check_box :active %>
    <%= f.label :sticky %>
    <%= f.check_box :sticky %>
  <%end %>
  <div class="actions">
    <%= f.submit "Submit", :id=>'submitBtn' %>
  </div>
<% end %>
    </div><!-- padding end -->
</div><!-- discussion box end -->

