        <%comments.each do |c|%>
          <li class="commentitem" id="<%=c.user_id%>">
            <div class="listingBox">
              <div class="profileBox"><%=useravatar(c.user)%></div>
              <div class="msgContent"><h3><div class="username" id="<%=c.user.id%>" style="display: inline"><div style="display: inline;"><%=c.user.username%></div>  <%=followlk(c)%></div> <span class="timestamp">2 min</span></h3>
                <p><%=c.content%></p>
                <p class="readMore"><a href="#" id="<%=c.id%>" class="replylink">&laquo; Reply</a></p>
              </div><!--msgContent end-->
            </div><!--listing Box end-->
            <div class="fix"></div>
          </li>
        <%end%>