
          <li class="commentitem" id="<%=comment.user_id%>">
            <div class="listingBox">
              <div class="profileBox"><%=useravatar(comment.user)%></div>
              <div class="msgContent"><h3><div class="username" id="<%=comment.user.id%>" style="display: inline"><div style="display: inline;"><%=comment.user.username%></div>  <%=followlk(comment)%></div> <span class="timestamp">2 min</span></h3>
                <p><%=comment.content%></p>
                <p class="readMore"><a href="#" id="<%=comment.id%>" class="replylink">&laquo; Reply</a></p>
              </div><!--msgContent end-->
            </div><!--listing Box end-->
            <div class="fix"></div>
          </li>
