<%= form_for(@comment, :remote=>true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :discussion_id, :value => did%>
    <%= f.hidden_field :user_id, :value => session[:user_id]%>
    <%= f.text_area :content, :size => "30x2",:value=>"tap your comment here...", :class =>"txt2" %>
    <%= f.submit "Comment", :remote => true %>
  
<% end %>
