$("ul#<%=@comment.discussion_id%>.listingBox").prepend("<%= escape_javascript render(@comment) %>");
//alert("inserted");

var ancmtStr = '<div>Your friend ' + "<%=@comment.user.username%>" + ' posted comments at<a href="<%=@comment.discussion.webpage.url%>">' + "<%=@comment.discussion.webpage.title%>" + '</a>';
ancmtStr = ancmtStr + '<a href="#" class="msgDismiss">x</a>' + '</div>'

//var username = "<%=@comment.user.username%>";

<%broadcast "/friendpost/"+@comment.user.username do %>//only broadcast to user's own channel
    var height = $('#announcement').height();
    $('#announcement').height(height + 30);
$('#announcement').append('<div>Your friend ' + "<%=@comment.user.username%>" + ' posted comments at<br /><a href="<%=@comment.discussion.webpage.url%>">' + "<%=@comment.discussion.webpage.title%>" + '</a>'+  '<a href="javascript: void(0)" class="msgDismiss">Dismiss</a>' + '</div>');
//setTimeout(function(){ $('#announcement').html("")},3000);
//timeout function can control the notification to live for a short time only
    $('a.msgDismiss').click(function(){
        $(this).parent().fadeOut();
        var height = $('#announcement').height();
        $('#announcement').height(height - 30);                                   
    })

<%end%>

//alert("ancmtd!");