$("div #<%=@comment.discussion_id%> .commentlist").append("<%= escape_javascript render(@comment) %>");
//$("div #<%=@comment.discussion_id%> .commentlist").find("textarea").val("");
jQuery('textarea#comment_content').val("");
//alert("div #<%=@comment.discussion_id%> .commentlist");
//var cnt = $("div #<%=@comment.discussion_id%> .commentlist").find("li").size();



//div.commentlist#<%=@comment.discussion_id%>
//alert("inserted");
//alert($("ul#<%=@comment.discussion_id%>.listingBox").html());

var ancmtStr = '<div>Your friend ' + "<%=@comment.user.username%>" + ' posted comments at<a href="<%=@comment.discussion.webpage.url%>">' + "<%=@comment.discussion.webpage.title%>" + '</a>';
ancmtStr = ancmtStr + '<a href="#" class="msgDismiss">x</a>' + '</div>'

//var username = "<%=@comment.user.username%>";

<%broadcast "/friendpost/"+@comment.user.username do %>

    var height = $('#announcement').height();
    $('#announcement').height(height + 34);
$('#announcement').append('<div id="friendMsg">' + '<%=link_to noficavatar(@comment), @comment.discussion.webpage.url, :target=>"blank"%>' + '<%=link_to str_cut(@comment.discussion.webpage.title), @comment.discussion.webpage.url, :target=>"blank"%>' +  '<a href="javascript: void(0)" class="msgDismiss"></a>' + '</div>');
//setTimeout(function(){ $('#announcement').html("")},3000);
//timeout function can control the notification to live for a short time only
    $('a.msgDismiss').click(function(){
        $(this).parent().fadeOut();
        var height = $('#announcement').height();
        $('#announcement').height(height - 34);                                   
    })

<%end%>

//alert("ancmtd!");