<%= form_for(@webpage) do |f| %>
  <% if @webpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webpage.errors.count, "error") %> prohibited this webpage from being saved:</h2>

      <ul>
      <% @webpage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.number_field :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
