<p id="notice"><%= notice %></p>

<p>
  <b>Follower:</b>
  <%= @friend.follower_id %>
</p>

<p>
  <b>Followee:</b>
  <%= @friend.followee_id %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
