<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%if params[:action] == 'edit' %>
    <p>Username: <%=@user.username%></p>
  <%end%>
  
<p><label>Profile Image</label><br />
    <%= f.file_field :avatar %>

    
<p><label>First Name</label><br />

    <%= f.text_field :fname %>

<p><label>Last Name</label><br />
    <%= f.text_field :lname %>

<p><label>Your Email</label><br />
    <%= f.text_field :email %>

<%if params[:action] == 'register' || params[:action] == 'create'%>
<p><label>Re-type Email</label><br />
    <%= f.text_field :email_confirmation %>

  <p><label>Username</label><br />
    <%= f.text_field :username %>

  <p><label>Password</label><br />
    <%= f.password_field :pwd %>

  <p><label>Password Confirmation</label><br />
    <%= f.password_field :pwd_confirmation %>

<%end%>
<p><label>Country</label>
    <%=f.select(:country, [['USA',1],['China', 2]]) %>

  <p><label>Postal Code</label><br />
    <%= f.text_field :postal, :size => "10" %>
  
  <p><label>Gender</label>
    <%= f.select(:gender,[['male',1],['female',2],['neutral',3],['both',4]]) %>
  <p><label>Date of Birth</label><br />
    <%= f.date_select :dob %><br />

By clicking Sign Up, you agree to our <%=link_to 'Terms.' %>
  <div class="actions">
    <%= f.submit 'SIGN UP',  :class=>"submitBtn" %>
  </div>
<% end %>
