<!DOCTYPE html>
<html>
<head>
  <title>Tagglynx</title>
  <%= stylesheet_link_tag    "application","custom","googlefont" %>
  <%= javascript_include_tag  "http://localhost:9292/faye.js" ,"application","custom"  %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div id="sidebar">
  <div id="header">
      <div class="header-padding">
      <%= link_to (image_tag 'logo.jpg'), '/' %>
      </div><!--header padding end-->
  </div><!--header end-->
  
  <div id="currentpage"></div>

  <div id="announcement"></div>
  
  <div id="content">
    <% if !session[:user_id].nil? %>
				<div class="profile">
				<div class="profile-padding">
					<div class="profileBox"><%=link_to (useravatar(crt_user)), crt_user%></div>
					<div class="profileText">
						<h3><%=username%></h3>
						<p><%=logout%></p>
					</div>
					<div class="fix"></div>
				</div>
				</div><!-- profile end -->

    <% end%>
  <%= yield %>

  </div><!--content end-->
  <div class="fix"></div>
  <%if  params[:controller] == "webpages" && params[:action] == "show"%>
  <div id="advertisements">
    Ad
  </div><!-- advertisement end -->
  <div class="fix"></div>
  <%end%>
</div><!--sidebar end-->

</body>
</html>

